$themes:
rodon $rodon1 $rodon2 $rodon3,
solum $solum1 $solum2 $solum3,
gronsta $gronsta1 $gronsta2 $gronsta3,
vattjom $vattjom1 $vattjom2 $vattjom3,
bjornstigen $bjornstigen1 $bjornstigen2 $bjornstigen3,
juniskar $juniskar1 $juniskar2 $juniskar3,
svartvik $svartvik1 $svartvik2 $svartvik3,
tranviken $tranviken1 $tranviken2 $tranviken3;


$outline-border: #dbe8f3;
$outline-background: $vattjom4;
