<section class="of-rss-feed of-block">

	<header>
		<h3 class="of-icon">
			<i><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512"><use xlink:href="#rss"></use></svg></i>
			<span>Tekniknyheter</span>
		</h3>
		<a class="of-icon of-icon-only of-absolute-right of-hover-touch-show" href="#">
			<i><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512"><use xlink:href="#cog"></use></svg></i>
			<span>Inställningar</span>
		</a>
	</header>

	<div class="of-inner-padded-half">
		<ul class="of-feed-list of-no-bullets">
						<li>
				<a href="#">
					<h5>Byggföretaget stäms på miljoner för brand</h5>
					<ul class="of-meta-line">
						<li>15 mars 14:00</li>
					</ul>
				</a>
			</li>
						<li>
				<a href="#">
					<h5>Här avslöjar Adam sin romantiska hemlighet</h5>
					<ul class="of-meta-line">
						<li>15 mars 13:10</li>
					</ul>
				</a>
			</li>
						<li>
				<a href="#">
					<h5>Neil Young släpper egen musikspelare</h5>
					<ul class="of-meta-line">
						<li>15 mars 13:01</li>
					</ul>
				</a>
			</li>
						<li>
				<a href="#">
					<h5>Kostdoktorns kritik mot Mia Skäringer</h5>
					<ul class="of-meta-line">
						<li>15 mars 13:00</li>
					</ul>
				</a>
			</li>
					</ul>
	</div>

	<footer>
		<a class="of-block-link" href="#">
			<span>Visa fler</span>
		</a>
	</footer>

</section>