/* 
 *  FAQ
 */
ul.sk-faq-list {

	h5 {
  	text-decoration: none;
  	font-weight:bold;
  }

  li {
  	list-style:none;
  	margin-bottom: 10px;
  	border-bottom: 1px solid #ddd;
	}

	.of-icon>i svg{
  	margin-top:2px;
	}

}