<nav class="of-toolbox">
	<div>
		<a class="of-icon of-icon-only" href="#" title="Ändra, anmäl, ta bort">
			<i><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512"><use xlink:href="#cog"></use></svg></i>
			<span>Öppna verktygslåda</span>
		</a>

		<ul>
						<li>
				<a class="of-icon" href="http://of.dev.osynlig.se/eriks-samarbetsrum/inlagg/lorem-ipsum-dolor">
					<i><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512"><use xlink:href="#eye"></use></svg></i>
					<span>Följ</span>
				</a>
			</li>
			<li>
				<a class="of-icon" href="http://of.dev.osynlig.se/eriks-samarbetsrum/inlagg/lorem-ipsum-dolor">
					<i><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512"><use xlink:href="#hidden"></use></svg></i>
					<span>Sluta följ</span>
				</a>
			</li>
						<li>
				<a class="of-icon" href="#">
					<i><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512"><use xlink:href="#edit"></use></svg></i>
					<span>Ändra</span>
				</a>
			</li>
						<li>
				<a class="of-icon" href="http://of.dev.osynlig.se/eriks-samarbetsrum/inlagg/lorem-ipsum-dolor" data-of-copy>
					<i><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512"><use xlink:href="#chain"></use></svg></i>
					<span>Kopiera URL</span>
				</a>
			</li>
						<li>
				<a class="of-icon" href="#" data-of-open-modal="report-post">
					<i><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512"><use xlink:href="#error"></use></svg></i>
					<span>Anmäl</span>
				</a>
			</li>
			<li>
				<a class="of-icon" href="#">
					<i><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512"><use xlink:href="#trash"></use></svg></i>
					<span>Ta bort</span>
				</a>
			</li>
		</ul>
	</div>
</nav>