.single-kurs{
	h1{
		 padding: 15px 0;
	}	

	.sk-entry-content{
		width: 65%; 
		float:left; 
		padding-right: 25px;

		.textwrap-thumbnail {
			width: 300px;
			float: right;
			margin-bottom: 10px;
			padding-left: 10px;
		}

		.single-course-video-row {
			position: relative;
			padding-bottom: 56.25%;
			height: 0;
			overflow: hidden;
			max-width: 100%;
			height: auto;
			margin-bottom: 20px;

			iframe,
			object,
			embed {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}

		}

	}

	#single-course-back-button {
		float: right;
		margin-top: 10px;
	}

	.course-meta-data{
		width: 35%;
		float: right; 
		background: #f9f9f9; 
		border: 1px solid #b6c0c6; 
		border-radius: 0.25em; 
		padding: 15px;

		.course-meta-title{
			font-weight: bold;
		}

		.sub-courses-list{
			font-size: 14px;
			padding-left: 25px;
			list-style-type: disc;
		}

	}

	.printable {
		display: none;
	}

	.morecontent{
		display: none;
	}

	.morelink {
		display: block;
	}

	table {

		tr {

			td {

				vertical-align: top;

			}

			td.course-description {

				max-width: 300px !important;

			}

		}

	}

}

@media print {

	#wpadminbar,
	#sidebar {
		display:none !important;
	}

	#content{
		margin-left:0;
		float:none;
		width:auto;
	}

	.single-kurs {

		.printable {

			img.header {
			  display: block !important;
              position: relative;
              top: 0px;
			}


			.course-permalink {
				width: 100%;
				margin-bottom: 10px;
			}

			.course-meta {
				width: 40% !important;
				float: left !important;

				p {
					font-weight: normal !important;
					margin: 0;
					padding: 0;

					span {
						font-weight: bold !important;
					}
				}

			}

			.course-starts {
				width: 40% !important;
				float: left !important;
				text-align: left;

				table {
					width: 100%;
					text-align: left;

					tr {
						td {
							width: 30%;
						}
					}
				}

			}

			figure {
				float: right;
				margin-left: 10px;
			}

		}


	}

}

@media (max-width: 700px) {
	.single-kurs {

		.sk-entry-content{

			.textwrap-thumbnail {
				width: 100%;
				margin-bottom: 10px;
			}

		}

	}

}
