/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }


    // prevent blank page at the end
    html, body {
        height: auto !important; 
    }    

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */
    .sk-courselist-posts-block a:after,
    .sk-box-type-bild a:after,
    a.image:after,
    .wp-caption a:after,
    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
      content: normal !important;
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
      margin-top: 2cm;
      margin-right: 1cm;
      margin-bottom: 2cm;
      margin-left: 1cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }


  /* SK custom print rules ---------------------- */
  
  // fix for firefox printing blank pages

  div {
    &:not(.sk-page-row):not(.no-print) {
      width: 100% !important;
      display: block !important;
      float: none !important;
      overflow: visible !important;
      position: relative !important;
    }
  }

  // hide elements
  .of-btn,
  .pagination,
  footer.global-footer,
  .sk-search-open,
  .of-menu-open,
  .of-sidebar-menu-advanced,
  header.sk-site{
    display: none !important;
  }    

  .of-inner-padded-t, 
  .sk-main-padded{
    margin: 0 !important;
    padding: 0 !important;
  }

  .no-print{
    display: none !important;
  }

}

