<nav class="of-notification-menu">
	<div>
		<h4>Notifikationer</h4>
	</div>
	<div class="article">
		<ul class="of-notifications-list">
			<li class="new">
				<a href="#">
					<div class="article">
						<p>Karin Danielsson tilldelade dig en uppgift: <strong>Förstsida efter inloggning</strong> i <strong>Mittuniversitetet - interaktionsdesign</strong></p>
					</div>
					<ul class="of-meta-line">
						<li class="of-icon">
							<i><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512"><use xlink:href="#checkmark"></use></svg></i>
							<span>Uppgifter</span>
						</li>
						<li>Idag kl 08:30</li>
					</ul>
				</a>
			</li>
			<li>
				<a href="samarbetsrum_index.html">
					<div class="article">
						<p>Sebastian Christiansson bjöd in dig till samarbetsrummet: <strong>Eriks samarbetsrum</strong></p>
					</div>
					<ul class="of-meta-line">
						<li class="of-icon">
							<i><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512"><use xlink:href="#group"></use></svg></i>
							<span>Deltagare</span>
						</li>
						<li>15 mars kl 07:05</li>
					</ul>
				</a>
			</li>
			<li>
				<a href="samarbetsrum_inlagg_single.html">
					<div class="article">
						<p>Stefan Edberg har kommenterat ditt inlägg: <strong>Kolla in den här tutorialen</strong> i <strong>Eriks samarbetsrum</strong></p>

						<blockquote>
							<figure class="of-profile">
								<img src="of-assets/images/ph/stefan.jpg" alt="Stefan Edberg">
							</figure>
							<span>Jag håller helt med om det som sades i filmen och jag anser att vi borde ta ett möte kring detta, vad tror ni andra?</span>
						</blockquote>
					</div>
					<ul class="of-meta-line">
						<li class="of-icon">
							<i><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512"><use xlink:href="#posts"></use></svg></i>
							<span>Inlägg</span>
						</li>
						<li>13 mars kl 11:02</li>
					</ul>
				</a>
			</li>
		</ul>
	</div>
	<div class="footer">
		<a class="of-block-link" href="samarbetsrum_notifikationer.html" onclick="return true;">Visa alla notifikationer</a>
	</div>
</nav>